# Ignore absolutely everything by default
*

# Do not ignore these specific folders and files
!assets/
!index.html
!favicon.ico
!robots.txt
!placeholder

# If your assets folder contains subfiles, keep them visible
!assets/**
